<style scoped lang="scss">
i.mdi {
	justify-content: center;
    align-items: center;
    display: inline-flex;
	cursor: pointer;
	user-select: none;
	transform: scale(1.25);
}
</style>

<template>
	<i class="mdi" :class="{'mdi-checkbox-blank-outline': !checked, 'mdi-checkbox-marked': checked}" @click="toggle"></i>
</template>

<script>
export default {
	name: 'todo-checkbox',
	
	model: {
		prop: 'checked',
		event: 'input'
	},

	props: {
		checked: Boolean
	},

	data() {
		return {};
	},

	methods: {
		toggle() {
			const newValue = !this.checked;
			this.$emit('input', newValue);
			this.$emit('update:checked', newValue);
		}
	}
};
</script>
