<style scoped lang="scss">
.todolist {
    &__item {
        padding: 5px 0;
		display: flex;
		
		&--completed {
			.todolist__input {
				text-decoration: line-through;
				opacity: 0.5;
			}

			.todolist__checkbox {
				opacity: 0.5;
			}
		}

		.btn--remove {
			margin-left: 5px;
		}
    }

    &__checkbox {
        flex-basis: 30px;
    }

    &__input {
        flex: 1;
        border: none;
        border-bottom: 1px solid #444;
        font-size: 18px;
		outline: none;
		margin: 0 5px;
		padding: 0px 8px;
		transition: border-color 0.35s;

		&:focus {
			border-color: #000099;
		}
    }
}
</style>

<template>
    <li class="todolist__item" :class="{'todolist__item--completed': item.completed}">
		<todo-checkbox class="todolist__checkbox" v-model="item.completed" @input="update"></todo-checkbox>
        <input class="todolist__input" type="text" v-model.trim="item.content" ref="input"
			@input="update"
			@keyup.shift.delete.exact="remove"
			@keyup.ctrl.enter.exact="toggleCompleted"
			@keyup.enter.exact="emitAddNewItemAction"
			@keyup.backspace.exact="tryToRemove">
        <button class="btn btn--red btn--remove" @click="remove" title="Remove item">
			<i class="mdi mdi-trash-can-outline"></i>
		</button>
    </li>
</template>

<script>
import TodoCheckbox from '@/components/TodoCheckbox.vue';

export default {
    name: 'todo-list-item',

	components: {
		TodoCheckbox
	},

    props: {
        item: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
			backspaceCount: 0
		};
    },

    methods: {
        remove() {
            this.$emit('remove', this.item);
        },

        update() {
			this.backspaceCount = 0;
            this.$emit('update:item', this.item);
        },

        toggleCompleted() {
            this.item.completed = !this.item.completed;
            this.$emit('update:item', this.item);
		},
		
		focus() {
			this.$refs.input.focus();
		},

		emitAddNewItemAction() {
			this.$emit('new-item-action');
		},

		tryToRemove() {
			this.backspaceCount += 1;
			if (this.backspaceCount >= 2 && !this.item.content) {
				this.remove();
			}
		}
    }
};
</script>
