<style scoped lang="scss">
.todolist {
    max-width: 500px;
    margin: 20px auto;
    border: 1px solid #CCC;
    border-radius: 10px;
	padding: 15px;
	box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.5);

    &__list {
        list-style-type: none;
        padding-inline-start: 40px;
		padding: 0;
		margin-bottom: 0;
	}
	
	&__infomsg {
		margin: 15px 0 0;
	}

	.btn--add {
		width: 100%;
	}
}
</style>

<template>
    <div class="todolist">
		<button class="btn btn--green btn--add" @click="addNewItem">
			<i class="mdi mdi-plus"></i>
			Add item
		</button>
        <div class="todolist__infomsg" v-show="!items.length">{{noItemsMessage}}</div>
        <ul class="todolist__list" v-show="items.length">
            <todo-list-item v-for="item in orderedItems" :key="item.itemId" :item.sync="item"
                @remove="removeItem"
                @update:item="itemUpdated"
				@new-item-action="addNewItem"
				ref="listItem">
            </todo-list-item>
        </ul>
    </div>
</template>

<script>
import TodoListItem from '@/components/TodoListItem.vue';

export default {
    name: 'todo-list',

    model: {
        prop: 'items',
        event: 'change'
    },

    components: {
        TodoListItem
    },

    props: {
        items: {
            type: Array,
            required: true
        },

        noItemsMessage: {
            type: String,
            default: 'There are no items on the list :-('
		},
		
		autofocusOnLastItem: {
			type: Boolean,
			default: true
		},

		moveCompletedToBottom: {
			type: Boolean,
			default: false
		}
    },

    data() {
        return {};
    },

	computed: {
		orderedItems() {
			if (this.moveCompletedToBottom) {
				return [...this.items].sort((itemA, itemB) => {
					if (!itemA.completed && itemB.completed) {
						return -1;
					}
					if (itemA.completed && !itemB.completed) {
						return 1;
					}
					return 0;
				});
			}
			return this.items;
		}
	},

    methods: {
		focusOnLastItem() {
			this.$nextTick().then(() => {
				const ref = this.$refs.listItem[this.$refs.listItem.length - 1];
				if (ref) {
					ref.focus();
				}
			});
		},

        itemUpdated(item) {
            this.$emit('change', this.items, item, 'modified');
            this.$emit('item:modified', item);
        },

        removeItem(itemToRemove) {
            const newList = this.items.filter(item => item !== itemToRemove);
            this.$emit('change', newList, itemToRemove, 'removed');
			this.$emit('item:removed', itemToRemove);

			if (this.autofocusOnLastItem) {
				this.focusOnLastItem();
			}
        },

        addNewItem() {
            const newList = [...this.items];
            const newItem = {
                itemId: Date.now(),
                content: '',
                completed: false
            };
            newList.push(newItem);
            this.$emit('change', newList, newItem, 'added');
			this.$emit('item:added', newItem);
			
			if (this.autofocusOnLastItem) {
				this.focusOnLastItem();
			}
        }
    }
};
</script>
