body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
	@mixin colors($primaryColor, $secondaryColor) {
		color: $primaryColor;
		border-color: $primaryColor;
		background: $secondaryColor;

		&:hover {
			color: $secondaryColor;
			background: $primaryColor;
		}
	}

	font-size: 14px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	padding: 10px 15px;
	transition: color 0.25s, background 0.25s, border-color 0.25s;
	@include colors(#444, #FFF);

	&--green {
		@include colors(#009900, #FFF);
	}

	&--red {
		@include colors(#CC0000, #FFF);
	}

	&--blue {
		@include colors(#000099, #FFF);
	}

	&--yellow {
		@include colors(#999900, #FFF);
	}
}