<template>
    <div class="app-container">
        <todo-list v-model="items" @change="saveData" :move-completed-to-bottom="true"></todo-list>
    </div>
</template>

<script>
import TodoList from '@/components/TodoList.vue';
import {debounce} from '@/utils';

export default {
    name: 'app',
    components: {
        TodoList
    },

    data() {
        return {
            items: []
        };
    },

    methods: {
        saveData: debounce(function (list) {
			window.localStorage.setItem('todoListItems', JSON.stringify(list));
        }, 1000)
	},
	
	created() {
		try {
			this.items = JSON.parse(window.localStorage.getItem('todoListItems')) || [];
		} catch (err) {
			this.items = [];
		}
	}
};
</script>
